*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#121212;

color:white;

display:flex;

justify-content:center;

align-items:center;

height:100vh;
}

.container{

text-align:center;

width:90%;
}

.container h1{

font-size:40px;

color:#FFD700;
}

.container p{

margin-top:10px;
margin-bottom:40px;
}

.cards{

display:flex;

justify-content:center;

gap:25px;

flex-wrap:wrap;
}

.card{

width:250px;

padding:30px;

background:#1E1E1E;

border-radius:15px;

cursor:pointer;

transition:0.4s;
}

.card:hover{

transform:scale(1.08);

background:#FFD700;

color:black;
}

.card h2{

font-size:50px;
margin-bottom:15px;
}